proxmox = {
  name         = "proxmox"
  cluster_name = "proxmox"
  endpoint     = "https://proxmox:8006"
  insecure     = false
  username     = "root"
}

proxmox_api_token = "root@pam!token-id=your-token-uuid"

# All other configurations should be in auto.tfvars files
