machine:
  kubelet:
    ${indent(4, kubelet)}

cluster:
  allowSchedulingOnControlPlanes: false
  apiServer:
    ${indent(4, api_server)}
  network:
    cni:
      name: none
%{ if vip != null }
        vip:
          ip: ${vip}
%{ endif }
  proxy:
    disabled: true
  discovery:
    enabled: true
    registries:
      service:
        disabled: false
  extraManifests:
${indent(4, extra_manifests)}
  inlineManifests:
${indent(4, inline_manifests)}


